<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting Attendee Email</title>
</head>
<body>
    <h3>Dear {{ attendee.getName }},</h3>
    <p>Here are some meetings in the {{ meeting_collection.getCity|ucwords }} area you may wish to attend:</p>
    <table id="meetings" style="text-align: left;">
        <thead>
            <tr>
                <th style="padding: 5px 15px">Meeting</th>
                <th style="padding: 5px 15px">Day</th>
                <th style="padding: 5px 15px">Time</th>
                <th style="padding: 5px 15px">Address</th>
                <th style="padding: 5px 15px">Distance (miles)</th>
            </tr>
        </thead>
        <tbody>
            {% for meeting in meeting_collection %}
            <tr>
                <td style="padding: 5px 15px">{{ meeting.getMeetingName }}</td>
                <td style="padding: 5px 15px">{{ meeting.getTime.getDay|capitalize }}</td>
                <td style="padding: 5px 15px">{{ meeting.getTime.getTimeOfDay }}</td>
                <td style="padding: 5px 15px">{{ meeting.getAddress.renderAddress }}</td>
                <td style="padding: 5px 15px">{{ get_distance(attendee.getAddress, meeting.getAddress) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>